################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebAda.SIS/.vs/WebAda.SIS
/WebAda.SIS/WebAda.SIS/bin/Debug/netcoreapp3.1
/WebAda.SIS/WebAda.SIS/obj
/WebAda.SIS/WebAda.SIS/WebAda.SIS.csproj.user
